
body {
	font-family: 'Roboto Slab', serif;
	margin: 0px;
	padding: 0px;
}

header {
	background-image: url(../img/header_background.jpg);
	background-size: cover;
	height: 90vh;
	width: 100%;
	background-repeat: no-repeat;
	padding: 30px 0px 0px 90px;
}

.logo {
	color: white;
}

.title {
	color: white;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 2px;
	line-height: 32px;
	padding-top: 70px;
}

.link{
	color: white;
}

.link:hover {
	color: #b63f52;
}

#first__section {
	background-color: #0d141a;
	width: 100%;
	height: 100vh;
	padding-top: 20px;
	text-align: center;
}

.time {
	font-weight: 400;
	font-size: 20px;
	color: white;
	display: inline-block;
}

.number {
	color: #b63f52;
	font-weight: 400;
	font-size: 20px;
	
}

.inner {
	margin: 30px auto 0px auto;
	padding-top: 10px;
	text-align: center;
	width: 40%;
	height: 300px;
	background-color: #ffebee;
	border-radius: 4px;
	color: black;
}

.border {
	border: 1px solid black;
	width: 95%;
	height: 95%;
	margin: auto;
	border-radius: 4px;
}
.cake {
	margin: 20px auto;
}

.text_one {
	font-weight: 400;
	font-size: 18px; 
	margin: 0px;
}
.text_two {
	font-weight: 400;
	font-size: 18px; 
	margin: 3px 0px 10px 0px;
	letter-spacing: 1px;
}

.text_three {
	margin: 0px 0px 50px 0px;
	font-size: 10px;
	letter-spacing: 1.1px; 
	font-weight: 300;
}

.read{
	color: black;
	text-decoration: none;
	font-weight: 700;
	padding: 10px 40px;
	border: 4px solid black;
	margin-bottom: 50px;
}

.first__container{
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
}

.four__inners {
	width: calc(100% / 4 - 30px);
	height: 150px;
	text-align: center;
	color: white;
	margin: 50px 10px 20px 10px;

}

.icons {
	display: block;
	color: white;

}


.img__icons {
	width: 80px;
	height: 80px;
}

#second__section{
	background-color: #ffebee;
	width: 100%;
	height: 80vh;
	padding-top: 45px;
}

.second__container {
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
}

.left__inner{
	width: calc(100% / 2 - 30px);
	text-align: left;
	margin-right: 30px;
}

.h2__second{
	font-weight: 700;
}

.p_second {
	font-weight: 300px;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 60px;
}

.right__inner {
	width: calc(100% / 2 - 30px);
}

.img__second{
	width: 100%
}

.button_second{
	color: black;
	text-decoration: none;
	font-weight: 700;
	padding: 10px 40px;
	border: 4px solid black;
}
	
#third__section {
	background-color: #0d141a;
	width: 100%;
	height: 100vh;
}

.third__container{
	width: 76%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
	

.third__inners {
	width: (100% / 3 - 30px);
	height: 200px;
	color: white;
}

.left {
	font-weight: 400;
	font-size: 26px;
	text-align: left;
	display: inline-block;
	margin: 0px 15px 0px 0px;
	padding: 160px 0px;
}

.center{
	font-size: 400px;
	font-weight: 400;
	display: inline-block;
	margin: 0px 110px;
}

.and {
	margin: 0px;
}

.right {
	font-weight: 400;
	font-size: 26px;
	text-align: right;
	display: inline-block;
	margin: 0px;
	padding: 160px 0px;
}

.clients{
	
	text-align: center;
	
}
.clients a {
	color: white;
	font-weight: 400;
	font-size: 20px;
}

#fourth__section{
	background-color: #ffebee;
	width: 100%;
	height: 85vh;

}
.fourth__container{
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
}

.fourth__left {
	width: calc(100% / 2 - 50px);
	padding-top: 30px;
}

.fourth__right {
	width: calc(100% / 2 - 50px);
	
}

.numbers_honey {
	color: #fa7a8f;
	word-spacing: 10px;
	font-size: 12px;
	margin-bottom: 70px;
}

.text__honey {
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 1.3px;
	margin-bottom: 90px;
}

.honey {
	color: #eba2ae;

}

footer {
	background-color: #0d141a;
	width: 100%;
	height: 40vh;
	padding-top: 50px;
}

.foot {
	width: 70%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
}
.contact {
	width: calc(100% / 2 - 60px);
	height: 100px;
	background-color: #ffebee;
	border-radius: 4px;
	text-align: center;
	padding-top: 6px;
    box-sizing: border-box;
	
}

.footer__border{
	border: 1px solid black;
	width: 95%;
	height: 91%;
	margin: auto;
	border-radius: 4px;


}

.lefter {
	margin-right: 70px
}

.foot__number{
	margin: 10px auto;
	font-size: 14px;
}
 .foot__text2 {
	font-size: 10px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	margin-top: 0px
}

.footer__bottom{
text-align: center;
margin-top: 60px;

}

.gray{
	font-size: 11px;
	color: gray;
	opacity: 0.7
}