body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
}


h1, h2, h3 {
	font-weight: 900;
		
}

* {
	margin: 0;
	padding: 0;
}

.header {
		background: #f6b3a0 url('../img/bg.jpg') no-repeat center top / cover;
		
		color: white;
		padding-bottom: 250px;
		padding-top: 20px;

		
}

.header_container {
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}

.logo {
	width: 123px;
	text-align: center;
	
}

.logo p{
	font-size: 30px;
	font-weight: 900;
}

.nav {
	display: inline-block;
	margin-left: 20px
}

.me {
	color: white;
	text-decoration: none;
}

.nav_border:after {
	content: "";
	border-bottom: 2px solid white;
	display: block;
	opacity: 0;
}

.nav_border:hover:after {
	content: "";
	border-bottom: 2px solid white;
	display: block;
	opacity: 1;
	transition: .3s
}


.mail {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	opacity: 0.7;
}


h1 {
	font-size: 40px;
	letter-spacing: 0.2em;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	width: 483px;
	margin: 0px auto;
	padding: 10px 0;
}




.offer {
	margin-top: 194px;
	text-align: center;
	letter-spacing: 0.1em;
	

}

.offer p {
	opacity: 0.7;

}

.container {
	width: 80px;
	margin: 0px auto
}

h3 {
	color: #737373;
	font-size: 16px;
	text-transform: none;
	margin-top: 40px;
	margin-bottom: 30px

}

.about .container {
	display: flex;
	justify-content: space-between;

}

.text p{
	color: #7f7f7f;
	font-size: 14px;
	line-height: 1.6
}

.btn {
	font-size: 14px;
	background-color: #ff2b4a;
	color: #fff;
	width: 200px;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 0px;
	margin-top: 50px
}

.text {
	width: 600px;
	
}

.about {
	padding-top: 100px;
}

.heading {
	padding-top: 100px;
	text-align: center;
	

}

h2 {
	color: black;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0px;

	
}

.process {
	color: black;
	background: #f6f6f6;

}

.heading p{
	opacity: 0.7;
	margin-top: 20px;

}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.steps li{
	width: 230px;
	height: 215px;
	color: white;
	background: #10c6fc;
	text-align: center;
	padding-top: 60px;
	box-sizing: border-box;
}

.steps {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 70px
}

.steps li:nth-child(2) {
	background: #835aeb;
}

.steps li:nth-child(3) {
	background: #002453;
}

.steps li:nth-child(2) {
	background: #ff2b4a;
}

.footer {
	background: #222222;
	color: #9c9c9c;
	font-size: 14px;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 50px
	
}

.socials a{
	color: #9c9c9c;
	margin-right: 25px;
	font-size: 14px;
}



.socials a:hover {
	color: #ff2b4a;
}

.socials li:last-child a{
	margin-right: 0px
}

.socials {
	display: flex;;
	justify-content: center;
}

.footer__text {
	color: white;
	opacity: 0.7;
	font-size: 10px
}

@media screen and (max-width: 1200px) {
.container {
	width: 760px
	}

	.women {
		display: none;
	}

	.text {
		width: auto;
	}

	.about {
		padding-top: 50px;
		padding-bottom: 90px;
	}
}

@media screen and (max-width: 800px) {
.container {
	width: auto;
	padding: 0px 10px;
	min-width: 290px
	}

	h1 {
		width: auto;
	}


}

@media screen and (max-width: 510px) {
.steps {
	flex-direction: column;

}
.steps li {
	margin: 20px auto;

}	
}

@media screen and (max-width: 450px) {
h1 {
	font-size: 30px;
}
}